* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f4f7fb;
  font-family: "Segoe UI", sans-serif;
  color: #1f2937;
}

button {
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  opacity: 0.9;
}

input,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  font-size: 14px;
  outline: none;
}

input:focus,
textarea:focus {
  border-color: #2563eb;
}

textarea {
  resize: none;
  min-height: 100px;
}